{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "tailwindPreserveDuplicates": true,
  "tailwindPreserveWhitespace": true,
  "tailwindFunctions": ["clsx"],

  "plugins": [
    "prettier-plugin-sort-imports",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ]
}
